header {
    @include flex (flex, center, center, 20px, nowrap);
    width: 100%;
    height: 500px;
    background-image: url(../assets/imgheader.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
        .logo{
            max-width: 400px;
            margin-left: 30px;
            border-radius: 50%;
            border: 5px solid $layoutColorCuatro;
        }
        .header_div{
            background: $layoutColorDos;
            background: linear-gradient(180deg, rgba(105,172,69,0.9007935938047094) 0%, rgba(0,212,255,0.6542949943649334) 100%);
            margin-right: 30px;
                h1 {
                    font-family: amaranth;
                    font-size: 5rem;
                    color: $fontColorUno;
                }
                .eslogan{
                    font-family: "noto sans JP";
                    font-size: 2rem;
                    color: $fontColorUno;
                }
        }
}

.header_pages{
    @extend header;
    justify-content: space-around;
    height: 150px;
    .logo{
        width: 125px ;
    }
    .header_div{
        .h1_pages{
            @extend h1;
            font-size: 4rem;
        }
    }
}