nav{
    position: sticky;
    top: 0;
    ul{
        background-color: $layoutColorCuatro;
        height: 50px;
        @include flex (flex, space-evenly, center, 20px, nowrap);
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                font-family: "noto sans JP";
                font-weight: 800;
                color: $fontColorDos;
                &:hover{
                    font-size: 1rem;
                    border-top: 3px solid black;
                    border-bottom: 3px solid black;
                }
                &:active{
                    background-color: $layoutColorUno;
                    border-top: 5px solid black;
                    border-bottom: 5px solid black;
                }
            }
        }
    }
}